{
    "openstack_domainname": "",
    "openstack_credentialid": "",
    "openstack_credentialsecret": "",
    "openstack_projectid": "",
    "openstack_url": "",
    "K3S_TOKEN": "",
    "ubuntu_password": ""
}