.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-image {
  width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
  flex-grow: 1; 
}

.left-panel {
  flex: 1;
  display: flex;       
  padding: 1rem;
  border: 1px solid #ccc;
  height: 80vh;
}

.right-panel {
  width: 300px; 
  padding: 1rem;
  border-left: 1px solid #ccc;
  flex-direction: column;
}

.grid-container {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.grid-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid black;
} 

.grid-table td {
  border: 1px solid black; 
}

.grid-cell {
  width: calc(100% / var(--cols)); 
  height: calc(80vh / var(--rows));
  min-width: 20px;
  min-height: 20px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.ant-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
